body{
    background-color: black;
}
h1
{
    color: #27fd47;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-size: 40px;
    
    font-style: italic;
    text-align: center;
    
    

text-decoration: underline;



text-decoration-color: yellow;
    
}